<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ResWizard</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>

  <link rel="stylesheet" th:href="@{/css/style.css}">

  
</head>

<body>
  
<!-- Form-->
<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1>Account Login</h1>
    </div>
    <div class="form-content">
      <form name="f" method="POST" action="/process_login">

        <input type="hidden" th:name="${_csrf.parameterName}" th:value = "${_csrf.token}"/>

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required="required"/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required="required"/>
        </div>
<!--        <div class="form-group">-->
<!--          <label class="form-remember">-->
<!--            <input type="checkbox"/>Remember Me-->
<!--          </label><a class="form-recovery" href="#">Forgot Password?</a>-->
<!--        </div>-->
        <div class="form-group">
          <button type="submit">Log In</button>
        </div>
      </form>
    </div>
  </div>
</div>


</body>
</html>
