<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <p th:text="${person.getUsername() + ', ' + person.getId()}">VALUE</p>

    <form th:action="@{/resumes/add_message}" th:method="Post">
        <textarea name="message" rows="4" cols="50">Enter your resume message</textarea>
        <br>
        <input type="submit" value="Submit">
    </form>

    <div th:each="resume : ${resumes}">
        <a th:href="@{/resumes/{id}(id=${resume.getId()})}"
           th:text="${resume.getTitle()}">Resume</a>
    </div>

    <div>
        <form th:method="POST" enctype="multipart/form-data" th:action="@{/resumes/}">
            <table>
                <tr>
                    <td>File to upload:</td><td><input type="file" name="file" />
                    <select name="option">
                        <option th:each="option : ${options}"
                                th:value="${option}"
                                th:text="${option}"></option>
                    </select>
                    </td>
                </tr>
                <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
            </table>
        </form>
    </div>

    <div>
        <form th:method="GET" enctype="multipart/form-data" th:action="@{/resumes/show_resumes/{id}(id=${person.getId()})}">
                <tr><td></td><td><input type="submit" value="Get your resume" /></td></tr>
        </form>
    </div>

<!--    <div>-->
<!--        <ul>-->
<!--            <li th:each="file : ${files}">-->
<!--                <a th:href="${file}" th:text="${file}" />-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->

</body>
</html>