<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <p th:text="${person.getUsername() + ', ' + person.getId()}">VALUE</p>

<!--    <div th:if="${message}">-->
<!--        <h2 th:text="${message}"/>-->
<!--    </div>-->
    <div th:each="resume : ${resumes}">
        <p th:text="${resume.getTitle()}"></p>
    </div>

    <div>
        <form th:method="POST" enctype="multipart/form-data" th:action="@{/person/}">
            <table>
                <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
            </table>
        </form>
    </div>

<!--    <div>-->
<!--        <ul>-->
<!--            <li th:each="file : ${files}">-->
<!--                <a th:href="${file}" th:text="${file}" />-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->

</body>
</html>